body{
    background-image: url(Imagen1.png) ;
    font-family:'Times New Roman', Times, serif 
    
}

div{
    background-color: #ff4b1e;
    text-align: center;
    color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    margin-top: 20px;
    filter: drop-shadow(10px 10px 20px #ff5f1f);
}
div:hover{
    background-color: #dd2c00;
    text-align: center;
    color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    margin-top: 20px;
    filter: drop-shadow(10px 10px 20px #dd2c00);
}

footer{
    text-align: center;
    margin-top: 100px;
    color: #000000;
    filter: drop-shadow(1px 1px 30px #fff);
}

header{
    color: #fff;
    text-align: left;
}
a{
    color: #fff;
    padding-left: 50px;
    
}